.gallery-wrapper{
  flex-wrap: wrap;
  &.admin{
    margin: 16px;
    .images-container{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      margin-top: 16px;
      text-align: center;
      p{
        margin: 0 8px;
        font-size: 14px;
      }
    }
  }

  &.gallery-wrapper-app{

    &.default,&.Default{

      .gallery-wrapper-mages{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
      }
      .container{
        display: flex;
        flex: 0 0 33.33%;
        position: relative;
        &.text-bottom{
          flex-direction: column;
          align-items: center;
          p{
            font-size: 16px;
            text-align: center;
          }
        }
        .image{
          display: flex;
          width: 100%;
        }
        .image .ant-image{
          display: flex;
          width: 100%;
          overflow-y: hidden;
          img{
            width: inherit;
            height: inherit;
            object-fit: cover;
          }
        }
      }
      .images-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        text-align: center;
        p{
          margin: 0 8px;
          font-size: 14px;
        }
      }


    }

    &.BorderedAlignedByThree{
      .gallery-wrapper-mages{
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
      }
      .container{
        width: 30%;

        border-radius: 4px;
        .image{
          border-bottom: 1px solid rgba(21, 19, 19, 0.17);
          border-top: 1px solid rgba(21, 19, 19, 0.17);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        &.text-bottom{
          margin: 0 8px 16px 8px;
          flex-direction: column;
          align-items: center;
          background: white;

          p{
            font-size: 14px;
            text-align: center;
          }
        }
      }
      .images-container{
        p{

        }
      }
    }
  }


  hr{
    display: flex;
  }

}
@media (max-width: 720px){
  .gallery-wrapper-app{
    .container {
      flex: 100%;
    }
  }
}