.plain-image {
  margin: 20px;

  .ant-image {
    width: 100%;
  }
  &.TextAbove {
    flex-direction: column-reverse;
    display: flex;
    .content{
      text-align: center;
    }
  }
  &.TextRight {
    flex-direction: row;
    display: flex;
    text-align: center;
  }
  &.TextLeft {
    flex-direction: row-reverse;
    display: flex;
    text-align: center;
  }
  &.centeredBoxed{
    margin: auto;
    .content{
      text-align: center;
    }
  }
}

.section-item-container {
  &.IMAGE {
    .edit-wrapper {
      min-height: 100px;
    }

    .delete-container {

    }
  }
}

.background-image {
  z-index: -1;
  display: flex;
  overflow: visible;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &.fixed{
    background-attachment: fixed;
  }
}