.plain-image {
  margin: 20px;

  .ant-image {
    width: 100%;
  }
}

.section-item-container {
  &.IMAGE {
    .edit-wrapper {
      min-height: 100px;
    }

    .delete-container {

    }
  }
}

.background-image {
  z-index: -1;
  display: flex;
  overflow: visible;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &.fixed{
    background-attachment: fixed;
  }
}