.rich-text{
  &.centeredBoxed{
    margin: 10%;
    padding: 16px;
    -webkit-box-shadow: 5px 6px 42px 28px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 6px 42px 28px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 6px 42px 28px rgba(0, 0, 0, 0.3);
    background-attachment: fixed;
  }
}