:root {
  --primary: #4e4f50;
  --secondary: #647c90;
  --offset: #746c70;
  --background: #e2ded0;
  --font-title: 24px;
  --font-header: 16px;
  --font-text: 14px;

  --theme-colorPrimary: var(--primary);
  --theme-colorBgBase: var(--background);
  --theme-colorTextBase: var(--primary);
  --theme-colorSuccess: #52c41a;
  --theme-colorWarning: #faad14;
  --theme-colorError: #ff4d4f;
  --theme-colorInfo: #1677ff;
  --theme-borderRadius: 6px;
  --theme-fontSize: 16px;
  --theme-contentPadding: 24px;
}