@use 'base-colors';

@use "Admin/EditSection";
@use "Layout/Content";
@use "Admin/Navigation";
@use "Admin/ImageUpload";
@use "Admin/InputGallery";
@use "Admin/AddNewSection";
@use "Admin/AdminPlainImage";
@use "Admin/Login";

@use "Components/PlainImage";
@use "Components/PlainText";
@use "Components/RichText";
@use "Components/Gallery";
@use "Components/Carousel";
@use 'app';

body{
  //margin-left: 16px;
  //margin-right: 16px;
  background: var(--background);
  margin: auto;
  overflow: auto;
  font-family: gf_Playfair_Display variant0;
  .logo{
    position: absolute;
    top: 10px;
    left: 10%;
    height: 40px;
    cursor: pointer;
    z-index: 2;
  }
  .ant-tabs{
    font-family: gf_Playfair_Display variant0;
    .ant-tabs-nav{
      &::before{
        border: none;
      }
    }
  }

  .ant-modal{
    .ant-modal-content{
      .ant-modal-footer{
        display: flex;
        flex-direction: row;
        justify-content: right;
      }
    }
  }
  .dynamic-content{
    font-family: gf_Playfair_Display variant0;
  }
  .ant-select-selector{
    min-width: 150px;
  }
}