.gallery-wrapper {
  &.admin {
    height: 100%;
    position: relative;
    .images-container{
      max-height: 500px;
      overflow: auto;
      transition: all 2s ease-in-out 2s;
    }

    .config-item {
      width: 100%;
      display: flex;
      flex-direction: column;

      label,
      .select-image-container{
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        padding-bottom: 4px;
        text-align: left;
        line-height: 16px;
        margin-left: 8px;
      }

      .content {
        width: 100%;
        padding-bottom: 4px;
        input {
          min-width: 150px;
        }
      }

    }

    .edit-wrapper {
      width: 100%;
      position: relative;

      .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
        padding: 16px;
      }

      .delete-container {
        position: absolute;
        right: 4px;
        top: 20px;
      }
    }

    .add-image-container {
      margin: 32px 0;
    }
  }
}